@import "Variables";

@mixin formRow() {
  font-size: 14px;
  line-height: 19px;
  display: flex;
  width: 100%;
  color: $very-dark-violet;
  margin-bottom: 14px;
}

@mixin formLabelDark() {
  color: $dark-grayish-blue;
}
