@import "Variables";

// Format table cell in $column column the width
// For scrollable tables
@mixin tableColumnWidth($column, $width) {
  th, td {
    &:nth-child(#{$column}) {
      max-width: $width;
    }
  }
}

// For scrollable tables
// Shorthand for tableColumnWidth
// $widths: list of widths ordered from 1
// $breakpoint-down: name of max breakpoint to apply widths
//    See also: Variables to find list of breakpoint names
// sample:
// @include tableColumnsWidth(150px 150px 132px, md);
@mixin tableColumnsWidth($widths, $breakpoint-down: null) {

  @for $i from 1 through length($widths) {
    $width: nth($widths, $i);
    @if $breakpoint-down {
      @include media-breakpoint-down($breakpoint-down) {
        @include tableColumnWidth($i, $width);
      }
    } @else {
      @include tableColumnWidth($i, $width);
    }
  }
}

// Table aligns
// Align text
//
@mixin tableTextAlign($align) {
  td.#{$align},
  th.#{$align},
  .#{$align} td,
  .#{$align} th {
    text-align: $align;
  }
}


// input heights list to be consistent across universe
// key is input height name, value is height value
$inputHeight: (
  xs: 26px,
  sm: 30px,
  md: 32px,
  lg: 38px,
  unsized: auto,
);

$buttonHeight: (
  sm: 22px,
  md: 34px,
  lg: 48px,
);

$inputFontSize: (
  xs: 14px,
  sm: 14px,
  md: 14px,
  lg: 14px,
  unsized: auto,
);

@mixin formInputSize($name) {
  .#{$name} {
    height: map-get($inputHeight, $name);
    font-size: map-get($inputFontSize, $name);
  }
}

// generate class for input heights
// If $name is given, generate only this one given class (f.e. .lg)
// otherwise generate all possible classes.
// Generation base on $inputHeight map
@mixin formInputSizes($sizeName: null) {
  @if ($sizeName) {
    // generate only for one given size
    @include formInputSize($sizeName);
  } @else {
    // generate for all sizes given in inputHeights map
    @each $name, $value in $inputHeight {
      @include formInputSize($name);
    }
  }
}

@mixin modal() {
  .modal {
    $margin: 20px;
    position: absolute;
    left: $margin;
    top: $margin;
    bottom: $margin;
    right: $margin;

    background: transparent;
    border: none;
    border-radius: 0;
    display: flex;
    padding: 5px;
    outline: none;
    overflow: auto;

    &:after {
      content: '';
      display: block;
      height: 25px;
      width: 100%;
      position: fixed;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(#1f1f27, 0) 0%, #1f1f27 25%);
    }

    &:before {
      content: '';
      display: block;
      height: 25px;
      width: 100%;
      position: fixed;
      top: 0;
      background: linear-gradient(to top, rgba(#1f1f27, 0) 0%, #1f1f27 25%);
    }
  }

  .modalChild {
    margin: auto;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#15151d, 0.8);
    z-index: 100;
  }
}

@mixin checklistBorderBox() {

  .checklistBox {
    //font-size: 12px;
    //position: inherit;
  }

  .checklistLine {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .checklistTitle {
    font-weight: 600;
  }

  .checklistSummary {
    font-weight: 500; // medium
  }

  .checklistHrMargin {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}


// Fonts standard sets helpers
@mixin fontSemiBold() {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Roboto,Segoe UI,sans-serif;
  font-weight: 600;
}

@mixin fontBold() {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Roboto,Segoe UI,sans-serif;
  font-weight: 700;
}


// ----------------------------- media queries / mobile mixin ------------------------

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
// Checks if grid-breakpoint is enabled
@mixin media-breakpoint-down($name) {
  $max: map-get($grid-breakpoints, $name);

  @if $max and $grid-breakpoints-enabled == true {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @media (max-width: $name) {
      @content;
    }
  }
}

@mixin media-breakpoint-up($name) {
  $max: map-get($grid-breakpoints, $name);

  @if $max and $grid-breakpoints-enabled == true {
    @media (min-width: $max) {
      @content;
    }
  } @else {
    @media (max-width: $name) {
      @content;
    }
  }
}

@mixin ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

// generate class for input heights
// If $name is given, generate only this one given class (f.e. .lg)
// otherwise generate all possible classes.
// Generation base on $inputHeight map
@mixin formInputHeights($name: null) {
  @if ($name) {
    @if map-has-key($inputHeight, $name) {
      .#{$name} {
        height: map-get($inputHeight, $name);
      }
    }
  } @else {
    @each $name, $value in $inputHeight {
      .#{$name} {
        height: $value;
      }
    }
  }
}

@mixin iconsDisabled($background, $content) {
  :global(.icon-background){
    fill :$background;
  }

  :global(.icon-content) {
    fill: $content;
  }
}
