// Color Palette
$white: #fff;
$gray: #bbb;
$green: #1AAB9B;
$red: #FF6951;
$orange: #DC5D00;
$lime-green: #6edbb5;
$grayish-blue: #9FAFB9;
$desaturated-dark-blue: #546978;
$light-blue: #448AFF;
$light-violet: #7C4DFF;
$bright-blue: #447AFB;
$bright-red: #F77249;
$bright-orange: #FDC134;
$soft-red: #EF5350;
$soft-red-2: #F99374;
$vivid-red: #F75524;
$vivid-orange: #F9A606;
$strong-red: #CB3A0D;
$strong-cyan: #2DC1B1;
$strong-cyan-2: #1CBA80;
$danger-color: #994126;
$danger-border-color: #994126;


$light-gray: #97979B;
$light-grayish-cyan: #E7FCFA;
$light-grayish-cyan-2: #E8F8F2;
$light-grayish-blue: #ECF1F3;
$light-grayish-blue-2: #CCD6DA;
$light-grayish-red: #FDEDE8;


$very-light-gray: #F5F5F5;
$very-light-gray-2: #EEE;
$very-light-red: #FFA799;

$another-light-grayish-blue: #D1DEE6;
$another-light-grayish-blue-2: #F6F8F9;
$another-light-grayish-blue-3: #D8E0E3;
$another-light-grayish-blue-4: #D4D9E1;
$another-light-grayish-red: #FBE1D9;

$dark-cyan: #139D8D;
$dark-grayish-blue: #708390;
$dark-grayish-blue-2: #707076;

$very-soft-red: #FAB6A1;
$very-soft-cyan: #B6EDE7;

$very-dark-grayish-blue: #3F3F47;
$very-dark-grayish-blue-2: #263238;
$very-dark-desaturated-blue: #31424E;
$very-dark-violet: #231536;

$grey-lightest: #87878C;
$grey-light: #58585F;
$grey-light-mid: #828288;
$grey-darkest: #2F2F38;
// Properties
$body-bg: $another-light-grayish-blue-2;

$element-border: $another-light-grayish-blue-3;

$background-on-hover: $very-light-gray;

$disabled: $another-light-grayish-blue;
$disabled-border-color: $another-light-grayish-blue;

$font-color-base: $desaturated-dark-blue;
$font-color: $very-dark-violet;
$font-size-base: 15px;
$font-size-smaller: 12px;

$errors: $soft-red;

$button-border-hover: $dark-grayish-blue-2;
$button-border-disabled: $very-dark-grayish-blue;
$button-background: $white;

$info-label-color: $grayish-blue;


$border-radius: 4px;


// breakpoints, mobile etc
$grid-breakpoints: (
  // below 280px it's really narrow screen and it might look bad or need scrolls etc
  sm: 360px,
  md: 480px, // below is mobile
  md-lg: 768px,
  lg: 992px, // below is table; up is desktop with 2-columns layout
) !default;

$grid-breakpoints-enabled: true;
