node_modules
dist
yarn-error.log
coverage
.env*.local
.next
.nyc_output
.yalc
yalc.lock
.vscode
.idea
.run
.log
.DS_Store
.sentryclirc
*.zip
artifacts
*.tsbuildinfo

public/precache.*.*.js
public/sw.js
public/workbox-*.js
public/worker-*.js
public/precache.*.*.js.map
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
public/sitemap.xml
/types

cache
next-env.d.ts

# xstate autogenereted files
*.typegen.ts


# Sentry Auth Token
.sentryclirc
.vercel

# .env
.env
