[
    {
        "scope": "https://api.testwyre.com:443",
        "method": "POST",
        "filteringPath": "\\/v3\\/orders\\/reserve\\?timestamp=.*",
        "status": 200,
        "response": {
            "url": "https://pay.testwyre.com/purchase?accountId=AC_TJM7VTUR2JG&reservation=ER932DDTLQTNBH9XULN9&amount=1&sourceCurrency=USD&dest=ethereum%3A0x1234567890123456789012345678901234567890&destCurrency=DAI&redirectUrl=&hideTrackBtn=1&failureRedirectUrl=",
            "reservation": "FOO"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]
