[
    {
        "scope": "https://api.testwyre.com:443",
        "method": "GET",
        "path": "/v2/transfer/TF_XYZ/track",
        "body": "",
        "status": 200,
        "response": {
            "transferId": "TF_XYZ",
            "feeCurrency": "USD",
            "fee": 0.58,
            "fees": {
                "USD": 0.38,
                "DAI": 0.2
            },
            "sourceCurrency": "USD",
            "destCurrency": "DAI",
            "sourceAmount": 2.58,
            "destAmount": 1.9638726755044145,
            "destSrn": "ethereum:0x1234567890123456789012345678901234567890",
            "pusherChannel": "12345678901234567890123456789012",
            "from": "Walletorderholding WO_12345",
            "to": null,
            "rate": 1,
            "customId": null,
            "blockchainNetworkTx": null,
            "message": null,
            "transferHistoryEntryType": "OUTGOING",
            "successTimeline": [
                {
                    "statusDetails": "Initiating Transfer",
                    "state": "INITIATED",
                    "createdAt": 1592801527000
                },
                {
                    "statusDetails": "Processing Exchange",
                    "state": "PENDING",
                    "createdAt": 1592801527000
                },
                {
                    "statusDetails": "Processing Deposit",
                    "state": "PENDING",
                    "createdAt": 1592801527000
                }
            ],
            "failedTimeline": [],
            "failureReason": null,
            "reversalReason": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    }
]
