HEADLESS='false'
RETRIES='2'
WORKERS='5'
BASE_URL='https://staging.summer.fi/'
TIMEOUT='60000'
# Must fill in one of these API keys, do not need both
GUARDIAN_UI_INFURA_API_KEY=
GUARDIAN_UI_ALCHEMY_API_KEY=