on:
  push:
    branches:
      - dev

name: Deploy to AWS Staging

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      AWS_REGION: eu-central-1
      ECR_REPO_NAME: oasis-borrow-staging
      SERVICE_NAME: oasis-borrow-staging
      CLUSTER_NAME: oasis-borrow-staging

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract commit hash
        id: vars
        shell: bash
        run: |
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Build, tag, and push image to Amazon ECR and Dockerhub
        id: build-image
        env:
          SHA_TAG: ${{ steps.vars.outputs.sha_short }}
          LATEST_TAG: latest
          ENVIRONMENT_TAG: staging
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPO_NAME: ${{ github.event.repository.name }}
          DOCKERHUB_ORG: 'oasisdexorg'
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to ECS.
          docker pull $ECR_REGISTRY/$ECR_REPO_NAME:$LATEST_TAG
          docker build --build-arg COMMIT_SHA=${{ env.SHA_TAG }} \
                       --build-arg API_HOST=${{ secrets.API_HOST_STAGING }} \
                       --build-arg MIXPANEL_ENV=staging \
                       --build-arg MIXPANEL_KEY=${{ secrets.MIXPANEL_STAGING_KEY }} \
                       --build-arg ADROLL_ADV_ID=${{ secrets.ADROLL_ADV_ID_STAGING }} \
                       --build-arg ADROLL_PIX_ID=${{ secrets.ADROLL_PIX_ID_STAGING }} \
                       --build-arg MAINNET_CACHE_URL=${{ secrets.MAINNET_CACHE_URL_STAGING }} \
                       --build-arg MAILCHIMP_ENDPOINT=${{ secrets.MAILCHIMP_ENDPOINT }} \
                       --build-arg MAILCHIMP_API_KEY=${{ secrets.MAILCHIMP_API_KEY }} \
                       --build-arg INFURA_PROJECT_ID=${{ secrets.INFURA_PROJECT_ID }} \
                       --build-arg ETHERSCAN_API_KEY=${{ secrets.ETHERSCAN_API_KEY }} \
                       --build-arg BLOCKNATIVE_API_KEY=${{ secrets.BLOCKNATIVE_STAGING_API_KEY }} \
                       --build-arg SNOWFLAKE_ACCOUNT=${{ secrets.SNOWFLAKE_ACCOUNT }} \
                       --build-arg SNOWFLAKE_USER=${{ secrets.SNOWFLAKE_USER }} \
                       --build-arg SNOWFLAKE_PASSWORD=${{ secrets.SNOWFLAKE_PASSWORD }} \
                       --build-arg ENABLE_SNOWFLAKE=${{ secrets.ENABLE_SNOWFLAKE }} \
                       --build-arg SHOW_BUILD_INFO=1 \
                       --build-arg NODE_ENV=production \
                       --build-arg NEXT_PUBLIC_SENTRY_ENV=staging \
                       --build-arg SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }} \
                       --cache-from=$ECR_REGISTRY/$ECR_REPO_NAME:$LATEST_TAG \
                       -t $ECR_REGISTRY/$ECR_REPO_NAME:$SHA_TAG \
                       -t $ECR_REGISTRY/$ECR_REPO_NAME:$LATEST_TAG \
                       -t $ECR_REGISTRY/$ECR_REPO_NAME:$ENVIRONMENT_TAG \
                       -t $DOCKERHUB_ORG/$REPO_NAME:$SHA_TAG \
                       -t $DOCKERHUB_ORG/$REPO_NAME:$LATEST_TAG \
                       .
          docker push $ECR_REGISTRY/$ECR_REPO_NAME --all-tags
          docker push $DOCKERHUB_ORG/$REPO_NAME --all-tags

      - name: Update ECS service with latest Docker image
        id: service-update
        run: |
          aws ecs update-service --cluster $CLUSTER_NAME --service ${{ env.SERVICE_NAME }} --force-new-deployment --region $AWS_REGION

      - name: Wait for all services to become stable
        uses: oryanmoshe/ecs-wait-action@v1.3
        with:
          ecs-cluster: ${{ env.CLUSTER_NAME }}
          ecs-services: '["${{ env.SERVICE_NAME }}"]'

      - name: Invalidate CloudFront
        run:
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CF_DIST_ID_STAGING }}
          --paths "/*"
