name: Build and test

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    env:
      CONFIG_URL: ${{ secrets.CONFIG_URL }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.19.1
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
      - name: Check for duplicate migration prefixes
        run: |
          duplicates=$(ls server/database/migrations/*.sql | awk -F'-' '{print $1}' | sort | uniq -d)
          if [[ -n "$duplicates" ]]; then
            echo "Duplicate prefixes found: $duplicates"
            exit 1
          fi     
          last_two_files=$(ls server/database/migrations/*.sql | sort | tail -n 2 | xargs -n 1 basename | cut -d'-' -f1)
          readarray -t numbers <<< "$last_two_files"
          if (( 10#${numbers[1]} != 10#${numbers[0]}+1 )); then
            echo "The last two migration files do not have consecutive numbers: ${numbers[0]} and ${numbers[1]}"
            exit 1
          fi
      - name: Install packages
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn --no-progress --non-interactive --frozen-lockfile
      - name: Run postinstall
        if: steps.yarn-cache.outputs.cache-hit == 'true'
        run: yarn postinstall
      - name: Lint
        run: yarn lint
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    env:
      CONFIG_URL: ${{ secrets.CONFIG_URL }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.19.1
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install packages
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn --no-progress --non-interactive --frozen-lockfile
      - name: Run postinstall
        if: steps.yarn-cache.outputs.cache-hit == 'true'
        run: yarn postinstall
      - name: Prettier
        run: yarn format
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    env:
      CONFIG_URL: ${{ secrets.CONFIG_URL }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.19.1
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install packages
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn --no-progress --non-interactive --frozen-lockfile
      - name: Run postinstall
        if: steps.yarn-cache.outputs.cache-hit == 'true'
        run: yarn postinstall
      - name: Typecheck
        run: yarn typecheck
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      CONFIG_URL: ${{ secrets.CONFIG_URL }}
    strategy:
      matrix:
        shard: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.19.1
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install packages
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn --no-progress --non-interactive --frozen-lockfile
      - name: Run postinstall
        if: steps.yarn-cache.outputs.cache-hit == 'true'
        run: yarn postinstall
      - name: Test
        run: CI=true yarn test --shard=${{ matrix.shard }}/${{ strategy.job-total }}
